name: "Publish"

on:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Just
        uses: extractions/setup-just@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.13
        run: uv python install 3.13
      - name: Build
        run: just build
      # Check that basic features work and we didn't miss to include crucial files
      - name: Smoke test (wheel)
        run: just smoke-test wheel
      - name: Smoke test (source distribution)
        run: just smoke-test source
      - name: Publish
        run: just publish